// varaibles
$mainColor:  #0088cc;
$mainDeColor:#3a3a3a;
$secDeColor: #474646;
$faceColor: #1877f2;
$twiColor: #1da1f2;
$ytColor: #ff0000;
$instColor: #c32aa3;
$whatsColor: #25d366;
$googleColor: #ea4335;
$mainFont: 'Cairo', sans-serif;
$mainShadow: 0 .2rem .5rem rgba(0,0,0,.2);
$bold: 600;
$trans: all .2s linear; 