// Start navigation bar 
nav(class = 'navbar navbar-expand-lg fixed-top')
    div.container
        |
        |
        a(class="navbar-brand" href = "./index.html"): img(src = './assets/images/logo.png')
        button(class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarSupportedContent" aria-controls = "navbarSupportedContent" aria-expanded = "false" aria-label = "Toggle navigation")
            i(class = 'nav-toggle fas fa-bars')
            //- span(class = "navbar-toggler-icon")
        div(class = "collapse navbar-collapse" id = "navbarSupportedContent")
            ul(class = "navbar-nav")
                //- const navItems = {'./index.html' : 'الرئيسية', './a.html' : 'خدماتنا', './b.html' : 'أعمالنا'}
                //-each values, key in navItems
                    li(calss = 'nav-item'): a(class = 'nav-link' href = `${key}`)=values
                li(class = 'nav-item active')
                    a(class = 'nav-link' href = './index.html') الرئيسية
                        span(class = 'sr-only') (current)
                li(class = 'nav-item')
                    a(class = 'nav-link' href = '#') منتجاتنا
                li(class = 'nav-item position-relative')
                    a(class = 'nav-link' href = '#') خدماتنا
                li(class = 'nav-item')
                    a(class = 'nav-link' href = '#') خدمات IT
                        span(class = "nav-icon fa fa-caret-down pl-2")
                    ul(class = 'drop-menu')
                        li(class = 'drop-item')
                            div(class = 'content')
                                span(class = 'drop-icon fas fa-palette')
                                span(class = 'text') تصميم مواقع
                        li(class = 'drop-item')
                            div(class = 'content')
                                span(class = 'drop-icon fas fa-mobile-alt')
                                span(class = 'text') تطبيقات الموبايل
                        li(class = 'drop-item')
                            div(class = 'content')
                                span(class = 'drop-icon fas fa-shopping-cart')
                                span(class = 'text') التجارة الإلكترونية
                li(class = 'nav-item')
                    a(class = 'nav-link' href = '#') اتصل بنا
                li(class = 'nav-item')
                    a(class = 'nav-link' href = '#') معلومات عنا
                li(class = 'price')
                    a(class = 'price-link' href = '#')
                        span(class = 'text') عرض السعر
// End navigation bar 