// Start our programs 
section(class = 'our-programs')
    div.container
        h2 برامجنا
        div(class = 'row')
            div(class = 'col-lg-4 col-md-6')
                div(class = 'card-programs')
                    div(class = 'img-program')
                        img(src = './assets/images/programs/pic1.jpg' alt = 'image' '')/
                    div(class = 'card content-program')
                        div(class = 'logo-prog')
                            img(src = './assets/images/accept_tasks.svg' alt = 'logo' '')/
                        div(class = 'card-body')
                            h5(class = 'title-card') نظام الحسابات العامة
                            p(class = 'text-card') يسمح النظام المحاسبي للشركة بتتبع جميع أنواع المعاملات المالية ، بما في ذلك المشتريات (النفقات) ، والمبيعات (الفواتير والدخل)، والخصوم (التمويل ، والحسابات المستحقة الدفع)،وما إلى ذلك ، وهو قادر على إنشاء تقارير إحصائية شاملة توفر الإدارة أو الأطراف المعنية مع مجموعة واضحة من البيانات للمساعدة في عملية صنع القرار.
                            a(class = 'btn-more' href = '#') إقرأ المزيد
            div(class = 'col-lg-4 col-md-6')
                div(class = 'card-programs')
                    div(class = 'img-program')
                        img(src = './assets/images/programs/pic2.jpg' alt = 'image' '')/
                    div(class = 'card content-program')
                        div(class = 'logo-prog')
                            img(src = './assets/images/accept_tasks.svg' alt = 'logo' '')/
                        div(class = 'card-body')
                            h5(class = 'title-card') نظام الموارد البشرية
                            p(class = 'text-card') الحصول على تحديثات الحضور في الوقت الحقيقي والقضاء على الأخطاء مع إدخال البيانات التلقائي. تكوين التحولات الخاصة بك وأداء التناوب التلقائي. الحصول على تقارير الثاقبة التي تساعدك على البقاء في صدارة المشاكل.
                            a(class = 'btn-more' href = '#') إقرأ المزيد
            div(class = 'col-lg-4 col-md-6')
                div(class = 'card-programs')
                    div(class = 'img-program')
                        img(src = './assets/images/programs/pic3.jpg' alt = 'image' '')/
                    div(class = 'card content-program')
                        div(class = 'logo-prog')
                            img(src = './assets/images/accept_tasks.svg' alt = 'logo' '')/
                        div(class = 'card-body')
                            h5(class = 'title-card') نظام المخازن
                            p(class = 'text-card') يوفر CIBS ميزات برنامج إدارة المخزون قوية لمساعدة عملك على إدارة مستودعات متعددة ، وتتبع الشحنات ، وإعادة ترتيب المنتجات تلقائيا ، وإنشاء الباركود ، وأكثر من ذلك بكثير. وكذلك CIBS تساعدك : تسريع عملية الاستقبال بشكل كبير. تتبع المنتجات في طريقها إلى العملاء. إنشاء نقاط إعادة ترتيب تلقائي لكل عنصر في المستودع الخاص بك.
                            a(class = 'btn-more' href = '#') إقرأ المزيد
            div(class = 'col-lg-4 col-md-6')
                div(class = 'card-programs')
                    div(class = 'img-program')
                        img(src = './assets/images/programs/pic4.jpg' alt = 'image' '')/
                    div(class = 'card content-program')
                        div(class = 'logo-prog')
                            img(src = './assets/images/accept_tasks.svg' alt = 'logo' '')/
                        div(class = 'card-body')
                            h5(class = 'title-card') الأصول الثابتة
                            p(class = 'text-card') إدارة الأصول الثابتة هي عملية محاسبة تسعى إلى تتبع الأصول الثابتة لأغراض المحاسبة المالية والصيانة الوقائية وردع السرقة. ... تتوفر بعض أنظمة تخطيط موارد المؤسسة مع وحدات الأصول الثابتة
                            a(class = 'btn-more' href = '#') إقرأ المزيد
            div(class = 'col-lg-4 col-md-6')
                div(class = 'card-programs')
                    div(class = 'img-program')
                        img(src = './assets/images/programs/pic5.jpg' alt = 'image' '')/
                    div(class = 'card content-program')
                        div(class = 'logo-prog')
                            img(src = './assets/images/accept_tasks.svg' alt = 'logo' '')/
                        div(class = 'card-body')
                            h5(class = 'title-card') التصنيع
                            p(class = 'text-card') عندما يتم تنفيذ برنامج عملية التصنيع بشكل صحيح ، فهناك احتمالية حدوث زيادات كبيرة في قابلية تحقيق النتائج النهائية والتسليم في الوقت المحدد وجودة الإنتاج بشكل عام. يعزز الرؤية التشغيلية ، ويجعل من السهل تحديد المناطق الضعيفة قبل أن تصبح مؤثرة. لكل هذه الأسباب ، ينبغي اعتبارها أداة قيمة.
                            a(class = 'btn-more' href = '#') إقرأ المزيد
            div(class = 'col-lg-4 col-md-6')
                div(class = 'card-programs')
                    div(class = 'img-program')
                        img(src = './assets/images/programs/pic6.jpg' alt = 'image' '')/
                    div(class = 'card content-program')
                        div(class = 'logo-prog')
                            img(src = './assets/images/accept_tasks.svg' alt = 'logo' '')/
                        div(class = 'card-body')
                            h5(class = 'title-card') تطبيقات الهاتف المحمول
                            p(class = 'text-card') يعد تطبيق الهاتف المحمول ، الذي يشار إليه عادةً باسم التطبيق ، نوعًا من برامج التطبيقات المصممة للتشغيل على جهاز محمول ، مثل الهاتف الذكي أو الكمبيوتر اللوحي. تعمل تطبيقات الهاتف المحمول بشكل متكرر على تزويد المستخدمين بخدمات مماثلة لتلك التي يتم الوصول إليها على أجهزة الكمبيوتر. لهذا السبب أقامة CIBS مجموعة من التطبيقات التي تخدم المجال لكي تمدك بالمعلومة أينما كنت
                            a(class = 'btn-more' href = '#') إقرأ المزيد
// End our programs 