// Start our location 
section(class = 'our-location')
    hr(class = 'w-100')
    div.container
        div(class = 'icon')
            span(class = 'fas fa-arrow-down')
        div(class = 'row text-center mt-5')
            div(class = 'col-lg-6 mb-3')
                h3(class = 'title') جميع عملاؤنا يثقون بمنتجاتنا
                p(class = 'text') انضم إلى قائمة عملائنا واستفد من خبراتنا
            div(class = 'col-lg-6 mb-3')
                a(class = 'btn-link' href = '#') طلب عرض سعر
    iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13811.028608668967!2d31.205385149999998!3d30.072494799999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1604876644279!5m2!1sar!2seg" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class = 'mt-5')
// End our location 