// Start slider 
header(class = 'slider')
    div(id = "carouselExampleControls" class = "carousel slide" data-ride = "carousel")
        div(class = "carousel-inner")
            div(class = "carousel-item active")
                div.container
                    div(class = 'row')
                        div(class = 'col-lg-6 col-md-12')
                            div(class = 'slide-image m-auto py-2')
                                img(class = 'animate__animated animate__zoomIn animate__delay-2s' src = './assets/images/accept_tasks.svg' alt = 'image' '')/
                        div(class = 'col-lg-6 col-md-12')
                            div(class = 'slide-text text-center')
                                h2(class = 'display-4 animate__animated animate__fadeInLeft animate__delay-3s') شركة الإتصلات
                                p(class = 'lead animate__animated animate__lightSpeedInRight animate__delay-4s') نقدم كل ما هو جديد فى عامل تكنولوجيا المعلومات والبرمجمة
                                a(class = 'btn-link animate__animated animate__jackInTheBox animate__delay-5s' href= '#') المزيد
            div(class = "carousel-item")
                div.container
                    div(class = 'row')
                        div(class = 'col-lg-6 col-md-12')
                            div(class = 'slide-image m-auto py-2')
                                img(class = 'animate__animated animate__zoomIn animate__delay-2s' src = './assets/images/business_decisions.svg' alt = 'image' '')/
                        div(class = 'col-lg-6 col-md-12')
                            div(class = 'slide-text text-center')
                                h2(class = 'display-4 animate__animated animate__fadeInLeft animate__delay-3s') شركة الإتصلات
                                p(class = 'lead animate__animated animate__lightSpeedInRight animate__delay-4s') نقدم كل ما هو جديد فى عامل تكنولوجيا المعلومات والبرمجمة
                                a(class = 'btn-link animate__animated animate__jackInTheBox animate__delay-5s' href= '#') المزيد
            div(class = "carousel-item")
                div.container
                    div(class = 'row')
                        div(class = 'col-lg-6 col-md-12')
                            div(class = 'slide-image m-auto py-2')
                                img(class = 'animate__animated animate__zoomIn animate__delay-2s' src = './assets/images/multitasking.svg' alt = 'image' '')/
                        div(class = 'col-lg-6 col-md-12')
                            div(class = 'slide-text text-center')
                                h2(class = 'display-4 animate__animated animate__fadeInLeft animate__delay-3s') شركة الإتصلات
                                p(class = 'lead animate__animated animate__lightSpeedInRight animate__delay-4s') نقدم كل ما هو جديد فى عامل تكنولوجيا المعلومات والبرمجمة
                                a(class = 'btn-link animate__animated animate__jackInTheBox animate__delay-5s' href= '#') المزيد
        a(class = "carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev")
            span(class = "carousel-control-prev-icon" aria-hidden="true")
            span(class = "sr-only") Previous
        
        a(class = "carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next")
            span(class = "carousel-control-next-icon" aria-hidden="true")
            span(class = "sr-only") Next
// End slider 

// 
